---
import Layout from "../../layouts/Layout.astro";
import ImagePB from "../../components/imagePB.astro";
import { invitebyID } from "../../../backend/backend.mjs";


const { id } = Astro.params;
const Invite = await invitebyID(id);

---

<Layout titre={Invite.nom}>
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center mb-6">
      {Invite.prenom}
      {Invite.nom}
    </h1>

    <div class="flex flex-col md:flex-row items-center md:items-start gap-8">
      <ImagePB
        class="flex justify-center"
        record={Invite}
        field="photo"
        alt={Invite.photo}
        classPicture="w-full max-w-md rounded-lg shadow-lg"
        classImg="w-full h-auto rounded-lg"
      />

      <div class="space-y-4 text-lg leading-relaxed">
        <p><span class=""> </span> {Invite.biographie}</p>
        <p>
          <span class="">Contact : </span>
          {Invite.mail}
        </p>
        <p><span class="font-bold">Qui est-ce ? </span> {Invite.role}</p>
      </div>
      
    </div>
  </div>
</Layout>
