---
import { Picture } from 'astro:assets';

const { ...Film } = Astro.props; 
console.log(Astro.props);


---
<article>

    <Picture 
      pictureAttributes={{ class: "block rounded-t-lg overflow-hidden" }} 
      inferSize={true} 
      src={Film.imageUrl} 
      alt={Film.nom || "Affiche du film"} 
    />
  </a>
  <div class="relative bg-white px-6 py-8 border border-indigo-200 border-t-0 rounded-b-lg space-y-4">
    <p class="text-gray-500 flex items-center">
      <span class="text-2xl font-bold text-indigo-500">{Film.nom}</span>
    </p>
    <h3 class="text-2xl font-semibold">
      <a class="text-black" href={`/nosfilms/${Film.id}`}>{Film.date_projection}</a>
    </h3>
    <p class="text-gray-500 not-italic border-b border-indigo-100 pb-4">
      Durée : {Film.duree} min
    </p>

    <ul class="flex justify-between text-sm">
      <li class="flex gap-2">
        <IconGenre class="size-5 stroke-indigo-500" /> 
        <span>{Film.genre}</span>
      </li>
    </ul>
  </div>
</article>
