---
import ImagePB from './imagePB.astro';
const { ...Invite } = Astro.props;
console.log(Astro.props);
---

<article class="relative rounded-lg overflow-hidden shadow-lg transition-transform duration-300 hover:scale-105 hover:shadow-xl">
  
  <div class="flex flex-col items-center justify-center">
     <ImagePB
      class="w-full h-96 flex items-center justify-center"
      record={Invite}
      field="photo"
      alt={Invite.photo}
      classPicture="duotone col-start-1 row-start-1 col-span-2 row-span-2 group-hover:before:bg-black"
      classImg="group-hover:grayscale-0 group-hover:mix-blend-normal flex justify-center"
    />
    <div class="px-6 py-8 space-y-4 text-center">
      <ul class="space-y-2">
        <li>
          <p class="text-gray-700 flex items-center justify-center">
            <span class="text-l font-bold text-orange-500">{Invite.nom} {Invite.prenom}</span>
          </p>
        </li>
        <li>
          <h3 class="text-m font-semibold text-[#E2CCB3]">{Invite.role}</h3>
        </li>
        <li>
          <span class="text-[#E2CCB3] text-sm">{Invite.genre}</span>
        </li>
      </ul>
    </div>
  </div>
</article>
